<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>
  {{>navbar}}
  <section class="background firstSection" id="services">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">The Future of Education is here </p>
                <p class="text-small">In this world of 7 billion people we need to educate all of them. This is the
                    future of an educated world and we are proud to say that the future of Education is here </p>
                <div class="buttons">
                    <button class="btn">Subscribe</button>
                    <button class="btn">Watch Video</button>
                </div>
            </div>
        </div>
    </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>